/*  */
.friendlist{
    display:flex;
    flex-direction:column;
    gap:50px;
    margin:0 auto;
    padding:50px;

    border-radius: 17px;
    box-shadow: 0px 0px 25px -15px var(--shadow-card);

    background-color: var(--card-color);

}

.item {
    display: flex;
    align-items: center;
  
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .status {
    display: block;
  
    width: 15px;
    height: 15px;
    margin-right: 20px;
  
    border-radius: 50%;
  }
  
  .status__true {
    composes: status;
    background-color: #1b9c26;
  }
  
  .status__false {
    composes: status;
    background-color: #a82929;
  }
  
  .avatar {
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    border: 0px solid var(--shadow-card);
  }
  
  .name {
    font-size: 20px;
    font-weight: 700;

    color: var(--text-color);
  }